@model ChurchSchool.Service.Models.PasswordRecoveryModel

@{
    ViewBag.Name = "Teste";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seminário IDB Petrópolis - Recuperação de Senha</title>
</head>

<body style="margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="600">
                    <tr>
                        <td style="padding:10px;" bgcolor="#2d1e6f"></td>
                    </tr>
                    <tr style="padding-top:10px; padding-right:10px; padding-bottom:8px; padding-left:5px;">
                        <td bgcolor="#ffffff" align="center" style="padding: 40px 0 30px 0;">
                            <img src="http://cdn-idb-petropolis.com.br/logo-idb.png" alt="logo igreja de deus no brasil" width="240" height="100" style="display:block;">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table>
                                <tr>
                                    <td>
                                        <h3 style="text-align:center;">Recuperação de Senha</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:20px 0 30px 0;">
                                        <p style="line-height: 20px;padding: 0px 10px 0px 10px;">
                                            Olá @Model.PersonName,
                                            <br /> Foi solicitado através do nosso portal a recuperação da sua senha, para prosseguir
                                            clique
                                            <a href="@Model.PasswordRecoveryUrl" target="_blank">aqui</a>, e cadastre uma nova senha para sua conta.
                                            <br /> Em seguida efetue o login novamente.
                                        </p>
                                        <p style="line-height: 20px;padding: 0px 10px 0px 10px;">
                                            <b>Este link é válido por @Model.ExpirationTokenInMinutes minutos.</b>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#fd2015">
                            <p style="text-align:center;">Seminário da IDB em Petrópolis - 2018</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>